<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="fr.arsenelapostolet.plexrichpresence.services.MaskingPatternLayout">
                <patternsProperty>
                    (accessToken)<!--|(X-Plex-Token:)|(X-Plex-Token)|(authToken)|(id)|(code)|(email)|(token)|(Token) -->
                </patternsProperty>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %class - %msg%n</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="ListAppender" class="fr.arsenelapostolet.plexrichpresence.controller.ListAppender" />

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ListAppender"/>
    </root>


</configuration>